body{
    margin: 0;
}
.logo{
    width: 64px;
    height: 64px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding: 10px;
}
nav ul li:hover{
    border-bottom: solid 1px;
}
nav a {
    text-decoration: none;            
    color: black;
}
.header{
    width: 100%;
}
div{
    padding: 20px;
    display: flex;
    background-color: #BBDEFB;
    border-bottom: solid 1px;
    justify-content: center;
}
.sostenibilidad{
    width: 40%;
    height: 300px;
}
form{
    margin: 50px 0;
    padding: 40px;
    border-radius: 10px;
    border: solid lightgray 1px;
    max-width: 400px;
    background-color: white;
}
form input,form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}
form textarea {
  resize: none;
}
button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
button:hover {
    background-color: #555;
}
footer{
    display: flex;
    justify-content: space-around;
}
aside{
    margin: 20px;
}
.red{
    margin: 10px;
    display: flex;
    width: 32px;
    height: 32px;
}